.section.hero {
    position: relative;
    background-image: url("#{$img-path}intro/Keyvisual.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @media screen and (max-width: 1280px) {
        background: none;
        min-height: unset;
    }

    img {
        object-fit: contain;
        max-width: 100%;
        height: auto;
        z-index: -1;
        display: none;
        position: relative;

        .safari & {

        }

        @media screen and (max-width: 1280px) {
            display: initial;
            margin-top: $header-height;
        }

        @media screen and (max-width: 1024px) {
            margin-top: $header-reduced-height;
        }
    }

    figure {
        margin: 0;
    }

    > div {
        padding: 0;
    }

    .btn {
        z-index: 1;
        background-color: rgba($white, .7);
        position: absolute;
        bottom: 10rem;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (max-width: 725px) {
            bottom: 8rem;
        }

        @media screen and (max-width: 625px) {
            bottom: 6rem;
        }

        @media screen and (max-width: 525px) {
            left: 4rem;
            transform: none;
            bottom: 2rem;
        }

        @media screen and (max-width: 460px) {
            left: 2rem;
        }

        @media screen and (max-width: 460px) {
            font-size: $font-size;
            padding: 2rem 1rem;
        }
    }
}