.section.vision {
    background-color: $white;
    z-index: 4;

    > div {
        padding-top: 0;
    }

    .section-row {
        margin-bottom: 10rem;
        display: flex;
        position: relative;

        @media screen and (min-width: 1001px){
            padding: 6rem 0;
        }

        @media screen and (max-width: 1000px) {
            flex-direction: column-reverse;
            align-items: center;
            margin-bottom: 0;
        }

        h3 {
            font-size: 4.5rem;
            margin-top: 0;
            color: $accent-light;
            font-family: $font-family-serif;

            @media screen and (max-width: 1200px) {
                font-size: 3.5rem;
                text-align: center;
            }

            @media screen and (max-width: 1000px) {
                margin-bottom: 0;
            }

            @media screen and (max-width: 769px) {
                font-size: 2.8rem;
                max-width: 80%;
                margin: 0 auto;
            }

            @media screen and (max-width: #{$mobile-only}) {
                max-width: unset;
                position: relative;
                top: -6rem
            }

            @media screen and (max-width: 550px) {
                top: -3rem
            }

            @media screen and (max-width: 425px) {
                top: -6rem
            }
        }

        .left {
            margin-right: 50rem;
            margin-top: 8rem;
            max-width: 700px;
            justify-content: center;
            display: flex;
            align-items: center;
            flex-direction: column;

            @media screen and (max-width: 1000px) {
                margin-right: 0;
            }

            @media screen and (max-width: 550px) {
                margin-top: 0;
            }
        }

        .right {
            background-repeat: no-repeat;
            background-position: center;
            width: 560px;
            position: absolute;
            right: -10rem;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 8rem;
            height: calc(100% + 1rem);
            background-image: url("#{$img-path}vision/percentage-20-80.png");

            @media screen and (max-width: 1400px){
                right: 0;
            }

            @media screen and (max-width: 1000px){
                position: initial;
                background-size: 546px 516px;
                width: 546px;
                height: 516px;
            }

            @media screen and (max-width: 550px) {
                background-size: 44.6rem 41.6rem;
            }

            @media screen and (max-width: 450px) {
                background-size: 40.6rem 37.6rem;
            }

            @media screen and (max-width: 425px) {
                background-size: 37.6rem 33.6rem;
            }

            .c100 {

                @media screen and (max-width: 550px) {
                    font-size: 25rem;
                }

                @media screen and (max-width: 425px) {
                    font-size: 20rem;
                }

                &.p1 {
                    margin: 6.5rem 13rem 0 0;

                    @media screen and (max-width: 550px) {
                        margin: 4.2rem 9.8rem 0 0;
                    }

                    @media screen and (max-width: 450px) {
                        margin: 6.2rem 9.8rem 0 0;
                    }

                    @media screen and (max-width: 425px) {
                        margin: 2.2rem 7.8rem 0 0
                    }
                }

                #twenty-percent,
                #eighty-percent {
                    font-size: 8rem;
                    position: absolute;
                    font-family: $font-family-serif;
                    top: -11rem;
                    right: 0;
                    color: $accent;

                    @media screen and (max-width: 550px) {
                        font-size: 6rem;
                        top: -9rem;
                    }

                    @media screen and (max-width: 450px) {
                        font-size: 5rem;
                        top: -7rem;
                    }

                    &::after {
                        content: '%';
                        font-size: 4rem;
                        position: absolute;
                        top: 1.5rem;

                        @media screen and (max-width: 550px) {
                            font-size: 3rem;
                            top: 1rem;
                        }
                    }
                }

                #eighty-percent {
                    top: unset;
                    right: -14rem;
                    bottom: -5rem;
                    color: #544E4C;

                    @media screen and (max-width: 550px) {
                        right: -11rem;
                    }

                    @media screen and (max-width: 450px) {
                        right: -10rem;
                        bottom: -2rem;
                    }
                }


                .slice {

                    span {
                        font-size: 2.4rem;
                        color: #9AA093;
                        position: absolute;
                        bottom: 70%;
                        right: 15%;
                        z-index: 1;

                        @media screen and (max-width: 550px) {
                            font-size: 2rem;
                        }

                        @media screen and (max-width: 425px) {
                            font-size: 1.8rem;
                            right: 12%;
                        }
                    }
                }
            }
        }
    }
}