.icon {
    background-image: url("#{$img-path}android-chrome-192x192.png");
    background-image: url("#{$img-path}android-chrome-512x512.png");
    background-image: url("#{$img-path}favicon-16x16.png");
    background-image: url("#{$img-path}favicon-32x32.png");
    background-image: url("#{$img-path}apple-touch-icon.png");
}