.header {
    background-color: rgba($white, .7);
    position: fixed;
    width: 100%;
    z-index: 10;
    left: 0;
    top: 0;
    height: $header-height;
    transition: all $animation-duration $animation-type;

    @media screen and (max-width: 1024px) {
        height: $header-reduced-height;
    }

    &.header-reduced {
        height: $header-reduced-height;

        .logo {
            transition: all $animation-duration $animation-type;
            height: $header-reduced-height - 2rem;
        }

        .navi-trigger svg {
            top: -40px;
            height: $header-reduced-height;
        }

        .container {

            @media screen and (max-width: 1280px) {
                //padding: 1rem 2rem;
            }

            @media screen and (max-width: 768px) {
                padding-left: 4rem;
            }
        }
    }

    .nav {
        height: 100%;

        @media screen and (min-width: 1280px) and (max-width: 1340px) {
            padding-left: 5rem;
        }

        @media screen and (min-width: 1024px) and (max-width: 1279px){
            padding-left: 2rem;
        }
    }

    .logo-link {
        max-height: 140px;
        display: inline-flex;
        align-items: center;
    }

    .logo {
        width: 160px;
        background-image: url("#{$img-path}logo.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: all $animation-duration $animation-type;
        height: $header-height;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 1024px) {
            height: 6rem;
        }
    }

    .container {
        max-width: 128rem;
        height: 100%;
        min-width: 100%;
        display: flex;
        margin: 0 auto;
        padding: 0 4rem;
        justify-content: center;

        @media screen and (max-width: 1280px) {
            padding: 0 2rem;
        }

        @media screen and (max-width: 1024px) {
            justify-content: flex-start;
            padding-left: 4rem;
        }
    }
}