/// @name underline
/// @group mixins
/// @author Stevan Stojanovic
/// @param {string} $color [$accent] color of the underline
/// @param {string} $animate ['none'] name of the animation posibilites are ['center-to-sides', 'to-right', 'to-left']
/// @param {number} $underline-height [1px] the lines height
/// @param {number} $animation-duration [300] animation duration in miliseconds
/// @param {number} $animation-delay [null] animation delay in miliseconds
/// @param {string} $animation-type ['ease-in-out'] animation type quoted
@mixin underline(
    $color: $accent,
    $animate: 'none',
    $underline-height: .7rem,
    $animation-duration: $animation-duration,
    $animation-delay: null,
    $animation-type: $animation-type,
    $opacity: 1
) {
    position: relative;

    &:hover,
    &.active {
        &::after {
            transform: scaleX(1);
        }
    }

    &::after {
        background-color: $color;
        bottom: 0;
        content: '';
        display: block !important;
        height: $underline-height;
        left: 0;
        opacity: 1 !important;
        position: absolute;
        right: unset;
        top: unset;
        transform: scaleX(0);
        width: 100%;
        @content;
    }

    @if($animate == 'none') {
        &::after {
            opacity: $opacity !important;
            transform: scaleX(1);
        }
    }

    @if ($animate != 'none' and $animate == 'center-to-sides') {
        &::after {
            transform: scaleX(0);
            transition: transition(transform, $animation-duration, $animation-type);
        }

        &:hover,
        &.active {
            &::after {
                transform: scaleX(1);
            }
        }
    }

    @if ($animate != 'none' and $animate == 'to-right') {
        &::after {
            transition: transition(width, $animation-duration, $animation-type);
            width: 0;
        }

        &:hover,
        &.active {
            &::after {
                width: 100%;
            }
        }
    }

    @if ($animate != 'none' and $animate == 'to-left') {
        &::after {
            left: unset;
            right: 0;
            transition: transition(width, $animation-duration, $animation-type);
            width: 0;
        }

        &:hover,
        &.active {
            &::after {
                width: 100%;
            }
        }
    }
}
