/// App prefix
/// @group op-vars
$prefix: "op-";
/// App image path
/// @group op-vars
$img-path: "assets/img/";
/// App font path
/// @group op-vars
$fonts-path: "assets/fonts/";
/// App font path
/// @group op-vars
$icon-path: "assets/icons/";
/// App font size xs
/// @group op-vars
$font-size-xs: 1rem;
/// App font size sm
/// @group op-vars
$font-size-sm: 1.2rem;
/// App font size
/// @group op-vars
$font-size: 1.4rem;
/// App font size m
/// @group op-vars
$font-size-m: 1.6rem;
/// App font size l
/// @group op-vars
$font-size-l: 1.8rem;
/// App font size xl
/// @group op-vars
$font-size-lg: 2rem;
/// App font font family light
/// @group op-vars
$font-family-light: "roboto-thin";
/// App font font family regular
/// @group op-vars
$font-family: "roboto-regular";
/// App font font family medium
/// @group op-vars
$font-family-medium: "roboto-medium";
/// App secondary font family
/// @group op-vars
$font-family-serif: "custom-serif";
/// App font weight normal
/// @group op-vars
$font-weight: 400;
/// App font weight semibold
/// @group op-vars
$font-weight-semibold: 600;
/// App font weight bold
/// @group op-vars
$font-weight-bold: 700;
/// App accent color
/// @group op-vars
$accent: #53654f; // #52644F
/// App accent color
/// @group op-vars
$accent-light: #76b728;
/// App secondary color
/// @group op-vars
$secondary: #64a4b5;
/// App white color
/// @group op-vars
$white: #fff;
/// App black color
/// @group op-vars
$black: #000;
/// App text color
/// @group op-vars
$color: #534f4b;
/// App text color light
/// @group op-vars
$color-light: #898887;
/// App body bg color
/// @group op-vars
$body-bg: $white;
/// App body color
/// @group op-vars
$body-color: $color;
/// App page spacing
/// @group op-vars
$page-spacing: 2.4rem;
/// App header height
/// @group op-vars
$header-height: 14rem;
/// App header height
/// @group op-vars
$header-reduced-height: 8rem;
/// App accent color
/// @group op-vars
$border-radius: 0.4rem;
/// App animation duration
/// @group op-vars
$animation-duration: 250ms;
/// App animation type
/// @group op-vars
$animation-type: ease-in-out;
/// App mobile only breakpoint
/// @group op-vars
$mobile-only: 600px;
