body {

    > section {
        display: flex;
        justify-content: center;

        &.hero {
            min-height: 100vh;
        }

        > div {
            position: relative;
            padding: 8rem 4rem;
            max-width: 128rem;
            flex: 1;
            width: 100%;

            @media screen and (max-width: #{$mobile-only}) {
                padding: 6rem 2rem
            }
        }
    }
}
